
img{
    position: absolute;
    height: 300px;
    left: 520px;
    top: 110px;
}

.rotate{
    transform: rotate(90deg);
}

.rotate1{
    transform: rotate(180deg);
}

.rotate2{
    transform: rotate(270deg);
}

.rotate3{
    transform: rotate(360deg);
}

